@font-face {
  font-family: 'roundsblack';
  src: local('roundsblack'), url(fonts/roundsblack/RoundsBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'montserrat';
  src: local('montserrat'), url(fonts/montserrat/Montserrat-SemiBold.ttf) format('truetype');
}

.primary-btn {
  width: 50%;
  height: 25%;
  border-radius: 50px;
  background-color: #67170E;
  border-width: 0;
  color: white;
  font-family: roundsblack;
  font-size: 20px;
}

.primary-btn-mobile {
  height: 35%;
  font-size: 8px;
}

.app {
  background-image: url("./res/background_tile.png");
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #67170E;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
  /* border-width: 3px;
  border-color: #67170E;
  border-style: dashed; */
}

.header-logo {
  width: 20%;
  margin-left: 30px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
}

.header-item {
  align-self: center;
  font-family: montserrat;
  color: white;
  margin-left: 30px;
}

.header-item-mobile {
  margin-left: 18px;
}

.header-social-btn {
  width: 30px;
}

.whitepaper-btn {
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 99px;
  width: 100px;
  padding: 8px;
  justify-content: center;
  align-self: center;
  background-color: #67170E;
}

.whitepaper-btn-mobile {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 85%;
  margin-bottom: 200px;
}

.main-container-mobile {
  margin-bottom: 50px;
  width: 95%;
}

.main-content-wrapper {
  width: 50%;
}

.main-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.main-logo-wrapper {
  width: 80%;
  margin-right: 22px;
}

.main-description {
  width: 80%;
  color: #67170E;
}

.main-description-mobile {
  width: 80%;
  line-height: 115%;
}

.main-paragraph {
  font-family: montserrat;
  font-size: 24px;
  width: 100%;
  line-height: 170%;
  margin-top: 5px;
}

.main-paragraph-mobile {
  font-family: montserrat;
  font-size: 8px;
  width: 100%;
  margin-top: 5px;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 85%;
  margin-bottom: 200px;
  line-height: 115%;
}

.welcome-container-mobile {
  margin-bottom: 50px;
  width: 95%;
}

.welcome-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.welcome-content-wrapper {
  width: 50%;
}

.welcome-descriptions {
  width: 80%;
  color: #67170E;
}

.welcome-section-title {
  font-family: roundsblack;
  font-size: 70px;
}

.welcome-section-title-mobile {
  font-size: 20px;
}

.welcome-paragraph {
  font-family: montserrat;
  font-size: 24px;
  line-height: 170%;
}

.welcome-paragraph-mobile {
  font-size: 8px;
}

.features-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.features-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.ecosystem-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.ecosystem-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.roadmap-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.roadmap-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.community {
  background-color: #67170E;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-logo-wrapper {
  width: 30%;
}

.community-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.community-link {
  display: block;
  width: 15%;
}
