@font-face {
  font-family: 'roundsblack';
  src: local('roundsblack'), url(fonts/roundsblack/RoundsBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'montserrat';
  src: local('montserrat'), url(fonts/montserrat/Montserrat-SemiBold.ttf) format('truetype');
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    /* transform: translate3d(-100vw, 0, 0); The image width */
    background-position: -10000px 0;
  }
}

.primary-btn {
  width: 40%;
  height: 40px;
  border-radius: 50px;
  background-color: #7a3a33;
  border-width: 0;
  color: white;
  font-family: roundsblack;
  font-size: 20px;
}

.primary-btn-mobile {
  height: 40px;
  width: 40%;
  font-size: 15px;
}

.app {
  background-image: url("./res/background_tile.png");
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #7a3a33;
  position: sticky;
  top: 0;
  z-index: 10;
  /* border-width: 3px;7a3a33
  border-color: #67170E;
  border-style: dashed; */
}

.header-logo {
  width: 20%;
  margin-left: 30px;
  margin-top: 10px;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 30px;
}

.header-item {
  cursor: pointer;
  align-self: center;
  font-family: montserrat;
  color: white;
  margin-left: 30px;
}

.header-item-mobile {
  margin-left: 18px;
}

.header-social-btn {
  width: 30px;
}

.whitepaper-btn {
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 99px;
  width: 100px;
  padding: 8px;
  justify-content: center;
  align-self: center;
  background-color: #7a3a33;
}

.whitepaper-btn-mobile {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 85%;
  margin-top: 80px;
  margin-bottom: 400px;
}

.main-container-mobile {
  margin-top: 0px;
  margin-bottom: 100px;
  width: 95%;
}

.about-section-title {
  font-family: roundsblack;
  font-size: 70px;
  color: #67170E;
  margin-bottom: 10px;
}

.about-section-title-mobile {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #67170E;
}

.main-content-wrapper {
  width: 50%;
}

.main-content-image {
  width: 50%;
}

.main-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.main-logo-wrapper {
  width: 80%;
}

.main-description {
  width: 80%;
  color: #67170E;
}

.main-description-mobile {
  width: 80%;
  line-height: 115%;
}

.main-paragraph {
  font-family: montserrat;
  font-size: 24px;
  width: 100%;
  line-height: 170%;
  margin-top: 5px;
}

.main-paragraph-mobile {
  font-family: montserrat;
  font-size: 8px;
  width: 100%;
  margin-top: 5px;
}

.welcome-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  margin-bottom: 200px;
  line-height: 115%;
  /* margin-top: 60px; */
}

.welcome-container-mobile {
  margin-bottom: 50px;
  height: 500px;
}

.welcome-scrolling-image-container {
  position: relative;
  overflow: hidden;
  /* transform: rotate(3.5deg); */
}

.welcome-scrolling-image {
  position: absolute;
  top: 50px;
  width: 200%;
  background-size: auto 200%;
  height: 80%;
  z-index: 3;
  
  background: url("./res/shibas/shiba_slide_show.svg") repeat-x;
  animation: slide 300s linear infinite;
}

.welcome-scrolling-image-mobile {
  top: 0px;
  width: 700%;
  height: 100%;
}

.welcome-content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.welcome-content-wrapper-mobile {
  justify-content: center;
  align-items: center;
}

.welcome-image-wrapper {
  width: 40%;
  margin-left: 50px;
}

.welcome-descriptions {
  width: 40%;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
}

.welcome-descriptions-mobile {
  width: 80%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome-section-title {
  font-family: roundsblack;
  font-size: 50px;
  color: white;
  margin-bottom: 50px;
}

.welcome-section-title-mobile {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 40px;
  color: white;
}

.welcome-paragraph {
  font-family: montserrat;
  font-size: 24px;
  line-height: 160%;
}

.welcome-paragraph-mobile {
  line-height: 140%;
  font-size: 15px;
}

.welcome-solana {
  width: 40%;
  height: 40%;
  margin-top: 10px;
}

/* .welcome-solana-mobile {
  text-align: center;
} */

/* .welcome-solana-logo {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #000;
  position: relative;
} */

.features-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.features-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.ecosystem-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.ecosystem-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.roadmap-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.roadmap-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.team-container {
  width: 85%;
  align-self: center;
  margin-bottom: 200px;
}

.team-container-mobile {
  width: 95%;
  margin-bottom: 50px;
}

.community {
  background-color: #7a3a33;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community-logo-wrapper {
  width: 30%;
}

.community-links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}

.community-link {
  display: block;
  width: 15%;
}
